<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySpeedDataLabel" jhiTranslate="icnpushApp.speedData.home.createOrEditLabel">Create or edit a Speed Data</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!speedData.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="speedData.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="icnpushApp.speedData.icnId" for="field_icnId">Icn Id</label>
            <input type="number" class="form-control" name="icnId" id="field_icnId"
                [(ngModel)]="speedData.icnId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="icnpushApp.speedData.latitude" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                [(ngModel)]="speedData.latitude" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="icnpushApp.speedData.longitude" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                [(ngModel)]="speedData.longitude" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="icnpushApp.speedData.speed" for="field_speed">Speed</label>
            <input type="number" class="form-control" name="speed" id="field_speed"
                [(ngModel)]="speedData.speed" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="icnpushApp.speedData.altitude" for="field_altitude">Altitude</label>
            <input type="number" class="form-control" name="altitude" id="field_altitude"
                [(ngModel)]="speedData.altitude" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="icnpushApp.speedData.time" for="field_time">Time</label>
            <input type="number" class="form-control" name="time" id="field_time"
                [(ngModel)]="speedData.time" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
