
<div *ngIf="composite">
    <h2><span jhiTranslate="icnpushApp.composite.detail.title">Composite</span> {{composite.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="icnpushApp.composite.deviceId">Device Id</span></dt>
        <dd>
            <span>{{composite.deviceId}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.crashDate">Crash Date</span></dt>
        <dd>
            <span>{{composite.crashDate}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.latitude">Latitude</span></dt>
        <dd>
            <span>{{composite.latitude}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.longitude">Longitude</span></dt>
        <dd>
            <span>{{composite.longitude}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.speed">Speed</span></dt>
        <dd>
            <span>{{composite.speed}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.odometer">Odometer</span></dt>
        <dd>
            <span>{{composite.odometer}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.heading">Heading</span></dt>
        <dd>
            <span>{{composite.heading}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.rawData">Raw Data</span></dt>
        <dd>
            <span>{{composite.rawData}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.altitude">Altitude</span></dt>
        <dd>
            <span>{{composite.altitude}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.numberOfSatellites">Number Of Satellites</span></dt>
        <dd>
            <span>{{composite.numberOfSatellites}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.sequenceNumber">Sequence Number</span></dt>
        <dd>
            <span>{{composite.sequenceNumber}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.rssi">Rssi</span></dt>
        <dd>
            <span>{{composite.rssi}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.ntfEngRequestId">Ntf Eng Request Id</span></dt>
        <dd>
            <span>{{composite.ntfEngRequestId}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.crashUuid">Crash Uuid</span></dt>
        <dd>
            <span>{{composite.crashUuid}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.deviceIdType">Device Id Type</span></dt>
        <dd>
            <span>{{composite.deviceIdType}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.crush">Crush</span></dt>
        <dd>
            <span>{{composite.crush}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.pdof">Pdof</span></dt>
        <dd>
            <span>{{composite.pdof}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.vin">Vin</span></dt>
        <dd>
            <span>{{composite.vin}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.severityProcessedOn">Severity Processed On</span></dt>
        <dd>
            <span>{{composite.severityProcessedOn}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.severityCode">Severity Code</span></dt>
        <dd>
            <span>{{composite.severityCode}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.make">Make</span></dt>
        <dd>
            <span>{{composite.make}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.model">Model</span></dt>
        <dd>
            <span>{{composite.model}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.year">Year</span></dt>
        <dd>
            <span>{{composite.year}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.vinRegion">Vin Region</span></dt>
        <dd>
            <span>{{composite.vinRegion}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.mpd2">Mpd 2</span></dt>
        <dd>
            <span>{{composite.mpd2}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.mpd3">Mpd 3</span></dt>
        <dd>
            <span>{{composite.mpd3}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.peakG">Peak G</span></dt>
        <dd>
            <span>{{composite.peakG}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.deltaV">Delta V</span></dt>
        <dd>
            <span>{{composite.deltaV}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.vehicleClass">Vehicle Class</span></dt>
        <dd>
            <span>{{composite.vehicleClass}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.createdOn">Created On</span></dt>
        <dd>
            <span>{{composite.createdOn}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.lastModifiedOn">Last Modified On</span></dt>
        <dd>
            <span>{{composite.lastModifiedOn}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.street1">Street 1</span></dt>
        <dd>
            <span>{{composite.street1}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.street2">Street 2</span></dt>
        <dd>
            <span>{{composite.street2}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.zip">Zip</span></dt>
        <dd>
            <span>{{composite.zip}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.country">Country</span></dt>
        <dd>
            <span>{{composite.country}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.city">City</span></dt>
        <dd>
            <span>{{composite.city}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.stateProvince">State Province</span></dt>
        <dd>
            <span>{{composite.stateProvince}}</span>
        </dd>
        <dt><span jhiTranslate="icnpushApp.composite.crashDirection">Crash Direction</span></dt>
        <dd>
            <span>{{composite.crashDirection}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'composite/'+ composite.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
