<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAccelerationPairLabel" jhiTranslate="icnpushApp.accelerationPair.home.createOrEditLabel">Create or edit a Acceleration Pair</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!accelerationPair.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="accelerationPair.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="icnpushApp.accelerationPair.icnId" for="field_icnId">Icn Id</label>
            <input type="number" class="form-control" name="icnId" id="field_icnId"
                [(ngModel)]="accelerationPair.icnId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="icnpushApp.accelerationPair.accX" for="field_accX">Acc X</label>
            <input type="number" class="form-control" name="accX" id="field_accX"
                [(ngModel)]="accelerationPair.accX" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="icnpushApp.accelerationPair.accY" for="field_accY">Acc Y</label>
            <input type="number" class="form-control" name="accY" id="field_accY"
                [(ngModel)]="accelerationPair.accY" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="icnpushApp.accelerationPair.accZ" for="field_accZ">Acc Z</label>
            <input type="number" class="form-control" name="accZ" id="field_accZ"
                [(ngModel)]="accelerationPair.accZ" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="icnpushApp.accelerationPair.time" for="field_time">Time</label>
            <input type="number" class="form-control" name="time" id="field_time"
                [(ngModel)]="accelerationPair.time" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
