<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myICNPushLabel" jhiTranslate="icnpushApp.iCNPush.home.createOrEditLabel">Create or edit a ICN Push</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!iCNPush.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="iCNPush.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="icnpushApp.iCNPush.esn" for="field_esn">Esn</label>
            <input type="text" class="form-control" name="esn" id="field_esn"
                [(ngModel)]="iCNPush.esn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="icnpushApp.iCNPush.datetime" for="field_datetime">Datetime</label>
            <input type="text" class="form-control" name="datetime" id="field_datetime"
                [(ngModel)]="iCNPush.datetime" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="icnpushApp.iCNPush.vehicle" for="field_vehicle">Vehicle</label>
            <select class="form-control" id="field_vehicle" name="vehicle" [(ngModel)]="iCNPush.vehicle">
                <option [ngValue]="null"></option>
                <option [ngValue]="vehicleOption.id === iCNPush.vehicle?.id ? iCNPush.vehicle : vehicleOption" *ngFor="let vehicleOption of vehicles; trackBy: trackVehicleById">{{vehicleOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="icnpushApp.iCNPush.crash" for="field_crash">Crash</label>
            <select class="form-control" id="field_crash" name="crash" [(ngModel)]="iCNPush.crash">
                <option [ngValue]="null"></option>
                <option [ngValue]="crashOption.id === iCNPush.crash?.id ? iCNPush.crash : crashOption" *ngFor="let crashOption of crashes; trackBy: trackCrashById">{{crashOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
